@use "variables" as *;

:host {

  height: 100%;
  width: 100%;

  gridster {
    background-color: inherit;
    height: 100%;
    display: block;
  }

  gridster-item {
    background-color: #fff;
    box-shadow: 0px 0px 5px $kmd-border-color;
    border: 1px solid $kmd-border-color;

    &.item-placeholder {
      border: 2px dashed $kmd-primary-color;
      border-radius: .5em;
      background-color: rgb(249, 250, 251);
      
      div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;  
        gap: .8em;
      }
    }

    &:not(.item-placeholder) {

      border-radius: .4em;

      > div {
        height: 100%;
        display: grid;
        grid-template-rows: min-content auto;

        .header {
          display: flex;
          align-items: center;

          font-size: 16px;
          font-weight: 600;
          color: #000;
          padding: .5em .8em;
          border-bottom: 1px solid $kmd-border-color;

          i {
            color: $kmd-font-color;
            font-size: .8em;
            cursor: pointer;
          }

          i:first-of-type {
            margin-left: auto;
          }

          i + i {
            margin-left: .4em; 
          }
        }

        .content {
          padding: .5em .8em;
          overflow: hidden;
        }
      }
    }
  }
}