
$kmd-primary-color: rgb(51, 122, 183);
$kmd-primary-dark: rgb(11, 82, 143);
$kmd-border-color: rgb(229 231 235);
$kmd-title-color: rgb(55, 65, 81);
$kmd-font-color: rgb(107, 114, 128);
$kmd-gray: rgb(209, 213, 219);