<div class="modal-wrapper">
  <header>
    @if (selectedWidgetType==undefined) {
      <span>Diagram-Typ auswählen</span>
    } @else {
      <span>Neues Widget erstellen</span>
    }
  </header>
  <hr>
  <section>
    @if (selectedWidgetType==undefined) {
      <div class="type-selection">
        <button class="btn-highlight" (click)="onWidgetTypeSelectionClick(widgetTypeOptions.BARCHART)"><i class="fa-solid fa-chart-bar"></i>Balkendiagramm</button>
        <button class="btn-highlight" (click)="onWidgetTypeSelectionClick(widgetTypeOptions.TIMESERIES)"><i class="fa-solid fa-chart-line"></i>Zeitreihendiagramm</button>
        <button class="btn-highlight" (click)="onWidgetTypeSelectionClick(widgetTypeOptions.DATATABLE)"><i class="fa-solid fa-table"></i>Tabelle</button>
        <button class="btn-highlight" (click)="onWidgetTypeSelectionClick(widgetTypeOptions.TEXT)"><i class="fa-solid fa-keyboard"></i>Freitextfeld</button>
      </div>
    }

    @if (selectedWidgetType!=undefined) {
      <div>
        <form [formGroup]="widgetForm">
          <div class="data-section">
            <label for="title" class="form-label">Titel</label>
            <input id="title" type="text" class="form-control" formControlName="title">
          </div>
          <div class="data-section">
            <h3>Grid Größe (GridStack Einheiten)</h3>
            <hr class="small">
            <div class="split-view">
              <div>
                <label for="width" class="form-label">Breite (Width)</label>
                <input id="width" type="number" class="form-control" formControlName="width" min="1" max="12" step="1">
              </div>
              <div>
                <label for="height" class="form-label">Höhe (Height)</label>
                <input id="height" type="number" class="form-control" formControlName="height" min="1" max="12" step="1">
              </div>
            </div>
          </div>
          <div formGroupName="data">
            <div class="data-section">
              <h3>Daten</h3>
              <hr class="small">
              
              @if (selectedWidgetType==widgetTypeOptions.TEXT) {
                <label for="content" class="form-label">Inhalt</label>
                <textarea id="content" class="form-control" formControlName="content" rows="5" placeholder="Bitte geben Sie Ihren Freitext ein"></textarea>
              }

              @if (selectedWidgetType==widgetTypeOptions.BARCHART) {
                <div class="split-view bottom-spacing">
                  <div>
                    <label for="indicator" class="form-label">Choose an option</label>
                    <select id="indicator" class="form-select" formControlName="indicator">
                      <option disabled [selected]="true">-- Auswählen --</option>
                    </select>
                    <span class="subtext">Wählen Sie den Indikator</span>
                  </div>
                  <div>
                    <label for="spatial-unit" class="form-label">Raumebene</label>
                    <select id="spatial-unit" class="form-select" formControlName="spatialUnit">
                      <option disabled [selected]="true">-- Auswählen --</option>
                    </select>
                    <span class="subtext">Auswahl der räumlichen Ebene</span>
                  </div>
                </div>
                <div>
                  <label for="classification" class="form-label">Klassifizierungsverfahren</label>
                  <select id="classification" class="form-select" formControlName="classificationMethod">
                    <option disabled [selected]="true">-- Auswählen --</option>
                    <option>Gleiche Intervalle</option>
                    <option>Jenks</option>
                    <option>Quantile</option>
                  </select>
                  <span class="subtext">Wählen Sie einm Verfahren zur Klassifizierung der Werte</span>
                </div>
              }
            </div>
            
            @if (selectedWidgetType==widgetTypeOptions.BARCHART) { 
              <div class="data-section">
                <h3>Layout</h3>
                <hr class="small">
                <div class="bottom-spacing">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="mean-line" formControlName="meanLine">
                    <label class="form-check-label" for="mean-line">
                      Durchschnittslinie
                    </label>
                  </div>
                  <span class="subtext">Wenn aktiv, wird eine Durchschnittslinie zur Kennzeichnung des arithmetischen Mittels angezeigt</span>
                </div>
                <div class="bottom-spacing">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="barchart-label" formControlName="barchartLabel">
                    <label class="form-check-label" for="barchart-label">
                      Name der Raumeinheiten anzeigen
                    </label>
                  </div>
                  <span class="subtext">Wenn aktiv, werden die Namen der Raumeinheiten angezeigt</span>
                  </div>
              </div>
            }
          </div>
        </form>
      </div>
    }
  </section>
  <footer>
    <button (click)="close()" class="btn-secondary">Abbrechen</button>
    <button (click)="onAddWidget()">Widget speichern</button>
  </footer>
</div>