<div class="modal-wrapper">
  <header>
    @if (selectedDefinition == undefined) {
      <span>Widget-Typ auswählen</span>
    } @else if (editMode) {
      <span>Widget bearbeiten ({{ selectedDefinition.label }})</span>
    } @else {
      <span>Neues Widget erstellen ({{ selectedDefinition.label }})</span>
    }
  </header>
  <hr />
  <section>
    @if (selectedDefinition == undefined) {
      <div class="type-selection">
        @for (def of widgetRegistry; track def) {
          <button class="btn-highlight" (click)="onWidgetTypeSelectionClick(def)">
            <i [class]="def.icon"></i>{{ def.label }}
          </button>
        }
      </div>
    }

    @if (selectedDefinition != undefined) {
      <form [formGroup]="commonForm" class="common-config">
        <div class="data-section">
          <div>Title</div>
          <input id="title" type="text" class="form-control" formControlName="title" />
        </div>
        <div class="data-section">
          <div>Grid Größe (GridStack Einheiten)</div>
          <div class="split-view">
            <div>
              <label for="width" class="form-label">Breite (Width)</label>
              <input
                id="width"
                type="number"
                class="form-control"
                formControlName="width"
                min="1"
                max="12"
                step="1"
              />
            </div>
            <div>
              <label for="height" class="form-label">Höhe (Height)</label>
              <input
                id="height"
                type="number"
                class="form-control"
                formControlName="height"
                min="1"
                max="12"
                step="1"
              />
            </div>
          </div>
        </div>
      </form>
      <!-- <hr class="small"> -->
      <ng-container *ngComponentOutlet="selectedDefinition.configComponent"></ng-container>
    }
  </section>
  <footer>
    <button (click)="close()" class="btn-secondary">Abbrechen</button>
    <button (click)="onAddWidget()" [disabled]="!selectedDefinition">{{ editMode ? 'Änderungen speichern' : 'Widget speichern' }}</button>
  </footer>
</div>
