@use "variables" as *;

.modal-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: hidden;

  section {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-right: 0.25em;

    .type-selection {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .split-view {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    form {
      .data-section {
        margin-bottom: 1.5em;
      }
    }

    .bottom-spacing {
      margin-bottom: 1em;
    }
  }

  footer {
    text-align: right;
    margin-top: 1em;

    button {
      margin-left: 1em;
    }
  }
}