:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  color: #888;
}
