<div class="modal-wrapper">
  <header>
    Layout Vorlage auswählen
  </header>
  <hr>
  <section>
    <div class="layout-item" *ngFor="let item of gridHandler.layoutOptions" (click)="onLayoutOptionSelected(item)">
      <p class="layout-title">{{item.title}}</p>
      {{item.description}}
      <div class="grid-layout" [ngClass]="item.cssClassForSelection" [innerHTML]="buildWidgetPreview(item)"></div>
    </div>
  </section>
  <footer>
    <button (click)="close()" class="btn-secondary">Abbrechen</button>
  </footer>
</div>
