<h2>Dashboard-Steuerung</h2>
<button><i class="fa-regular fa-square-plus"></i>Diagramm hinzufügen<br>(Freie Position)</button>
<hr>
<h3>Navigation</h3>
<div class="menu-item">
  <i class="fa-solid fa-border-all"></i>Dashboard-Übersicht
</div>
<hr>
<h3>Layout Aktionen</h3>
<div class="menu-item">
  <i class="fa-solid fa-arrows-rotate"></i>Dashboard leeren
</div>
<div class="menu-item">
  <i class="fa-solid fa-border-all"></i>Layout verwalten
</div>
<hr>
<h3>Freigabenverwaltung</h3>
<div class="menu-item">
  <i class="fa-solid fa-file-arrow-down"></i>Dashboard speichern
</div>
<div class="menu-item">
  <i class="fa-solid fa-arrow-up-from-bracket"></i>Dashboard teilen
</div>
<div class="menu-item">
  <i class="fa-solid fa-user-check"></i>Berechtigung
</div>