<div class="main-wrapper">
  <div class="sidebar-wrapper">
    <sidebar-view></sidebar-view>
  </div>
  <div class="dashboard-wrapper">
    <div class="header">
      <img src="images/KM_Logo1.svg" class="logo">
      <img src="https://placehold.co/40x40/337ab7/ffffff?text=Logo">
      <h1>KomMonitor-Dashboard</h1>
    </div>
    <div class="dashboard">
      <dashboard-view></dashboard-view>
    </div>
    <footer>
      &copy; 2026 Interaktives Dashboard | Impressum
    </footer>
  </div>
</div>
