@use '../styles/variables.scss' as *;
@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/solid";
@use "@fortawesome/fontawesome-free/scss/brands";
@use "@fortawesome/fontawesome-free/scss/regular";
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {

  font-family: "Inter";
  font-size: 16px;
  color: $kmd-font-color;

  button {
    background: $kmd-primary-color;
    border-radius: .3em;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: .7em 1em;
    display: inline-flex;
    align-items: center;  
    gap: .8em;         
    white-space: nowrap;

    i {
      font-size: 20px;
    }
  }

  h1 {
    font-size: 2.0rem;
    font-weight: 700;
    padding: 0 0 !important;
    color: $kmd-title-color;
  }

  h2 {
    color: $kmd-primary-color;
    font-weight: 700;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    color: $kmd-title-color;
    margin-bottom: .2em !important;
  }

  hr {
    border: none;
    border-top: 1px solid $kmd-border-color;
    opacity: 1;

    &.small {
      margin: 0.5em 0 !important;
    }
  }

  input, textarea, select {
    font-size: 14px !important;
  }

  label {
    font-size: 13px;
  }

  .subtext {
    font-size: 11px;
    color: $kmd-font-color;
    margin-top: -.1em;
    display: block;
  }

  .btn-highlight {
    background-color: rgb(232, 243, 250);
    color: $kmd-primary-dark;
  }

  .btn-secondary {
    background-color: $kmd-gray;
    color: $kmd-title-color;
  }

  .modal-wrapper {
    padding: 1em;

    header {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
